ul{
    list-style-type:none;
    margin: 0%;
    padding: 0;
    overflow: hidden;
    background-color: burlywood;
}

li{
    float: left;
    border-right: rgb(182, 160, 160);
}

li a  {
    display: block;
    color: rgb(15, 14, 13);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(215, 106, 106);
}

.sidemenubar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 50;
    left: 25;
    background-color: darkred;
    padding-top: 50px;
}

.sidemenubar {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: xx-large;
    color: #111;
    display: block;
}